@model BespokeSoftware.Models.Dealer.DealerViewModel

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.2/dist/css/bootstrap-multiselect.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.2/dist/js/bootstrap-multiselect.min.js"></script>
<style>
    .address-card {
        border: 1px solid #0dcaf0;
        border-radius: 6px;
        padding: 10px;
        background: #f8fcff;
        position: relative;
    }

    .address-remove {
        position: absolute;
        top: 5px;
        right: 8px;
        cursor: pointer;
    }

    .address-card:hover {
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .custom-multi-dropdown {
        position: relative;
    }

    .dropdown-display {
        border: 1px solid #ccc;
        padding: 6px;
        cursor: pointer;
        background: white;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        z-index: 999;
        max-height: 200px;
        overflow-y: auto;
    }

    .option {
        padding: 5px;
    }

    .option:hover {
        background: #f1f1f1;
    }

    .dropdown-display {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="card border border-info">

    <div class="card-header">
        <h4 class="bg-info text-center fw-bold p-2 text-black">Add Dealer</h4>
    </div>

    <div class="card-body">

        <form asp-action="InsertDealer" asp-controller="Dealer" method="post" enctype="multipart/form-data" id="dealerForm">

            <div class="row g-3">

                <div class="col-md-4">
                    <label class="fw-bold">Dealer Name</label>
                    <input asp-for="Dealer.DealerName" class="form-control mt-1" />
                    <span asp-validation-for="Dealer.DealerName" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label class="fw-bold mb-1">Owner Name</label>
                    <input asp-for="Dealer.OwnerName" class="form-control" required />
                    <span asp-validation-for="Dealer.OwnerName" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label class="fw-bold">
                        Person
                        <i class="bi bi-plus-circle ms-2 text-success"
                           style="cursor:pointer; font-size:20px;"
                           onclick="redirectToCommunication()"></i>
                    </label>

                    <div class="custom-multi-dropdown">

                        <!-- display -->
                        <div class="dropdown-display form-control form-select" onclick="toggleCommDropdown()">
                            Select Person
                        </div>

                        <!-- dropdown -->
                        <div class="dropdown-content" id="commDropdown">

                            <input type="text"
                                   id="commSearch"
                                   class="form-control mb-2 form-select"
                                   placeholder="Search..."
                                   onkeyup="filterComm()" />

                            <div id="commOptions">

                                @if (ViewBag.CommunicationIds != null)
                                {
                                    foreach (var c in ViewBag.CommunicationIds)
                                    {
                                        <div class="option">
                                            <input type="checkbox"
                                                   value="@c.PersonID"
                                                   data-name="@c.PersonName"
                                                   onchange="updateCommSelection()" />
                                            <label>@c.PersonName</label>
                                        </div>
                                    }
                                }
                            </div>

                        </div>

                    </div>

                    <!-- hidden -->
                    <div id="commHiddenContainer"></div>
                </div>

                <div class="col-md-3">
                    <label class="fw-bold">GST</label>
                    <input asp-for="Dealer.GSTNo" id="gst" class="form-control" onchange="validateGST()" />
                    <span class="text-danger" id="gstError"></span>
                </div>

                

                <div class="col-md-3">
                    <label class="fw-bold">PAN</label>
                    <input asp-for="Dealer.PANNo" id="pan" class="form-control" onchange="validatePAN()" />
                    <span asp-validation-for="Dealer.PANNo" class="text-danger"></span>
                    <span class="text-danger" id="panError"></span>
                </div>

                <div class="col-md-3">
                    <label class="fw-bold">Payment Mode</label>
                    <select asp-for="Dealer.DefaultPaymentModeId" class="form-select">
                        <option value="">Select</option>
                        @foreach (var p in ViewBag.PaymentModeList)
                        {
                            <option value="@p.ID">@p.PaymentModeName</option>
                        }
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="fw-bold">Weekly Off</label>
                    <select asp-for="Dealer.WeeklyOffDayId" class="form-select">
                        <option value="">Select</option>
                        @foreach (var w in ViewBag.WeeklyOffList)
                        {
                            <option value="@w.ID">@w.Day</option>
                        }
                    </select>
                </div>
               

              

               
                <div class="col-md-4 position-relative">
                    <label class="fw-bold">Dealer Image</label>

                    <input type="file" name="DealerImage" id="dealerImageInput"
                           class="form-control" accept="image/*" />

                    <img id="dealerPreview"
                         style="width:80px; margin-top:5px; display:none;" />

                    <!-- DELETE -->
                    <i class="bi bi-x-circle text-danger"
                       id="dealerRemove"
                       style="position:absolute; top:35px; right:10px; cursor:pointer; display:none;">
                    </i>
                </div>


                <div class="col-md-4 position-relative">
                    <label class="fw-bold">Company Image</label>

                    <input type="file" name="CompanyImage" id="companyImageInput"
                           class="form-control" accept="image/*" />

                    <img id="companyPreview"
                         style="width:80px; margin-top:5px; display:none;" />

                    <!-- DELETE -->
                    <i class="bi bi-x-circle text-danger"
                       id="companyRemove"
                       style="position:absolute; top:35px; right:10px; cursor:pointer; display:none;">
                    </i>
                </div>
                <div class="col-md-4">
                    <label class="fw-bold">Remark</label>
                    <textarea asp-for="Dealer.Remark" class="form-control" rows="2"></textarea>
                </div>
            </div>

            <hr>

            <h5 class="fw-bold d-flex align-items-center">
                Address
                <i class="bi bi-plus-circle ms-2 text-success"
                   style="cursor:pointer; font-size:20px;"
                   onclick="addAddress()"></i>
            </h5>

            <div id="addressContainer" class="fw-bold"></div>
            <hr>

            <h5 class="fw-bold d-flex align-items-center">
                Notes
                <i class="bi bi-plus-circle ms-2 text-success"
                   style="cursor:pointer; font-size:20px;"
                   onclick="addNote()"></i>
            </h5>

            <div id="notesContainer" class="fw-bold"></div>

            <br><br>
            <div class="fw-bold col-md-12 text-center">
            <button type="submit" class="btn btn-info fw-bold">Save</button>
            <a href="/Dealer/Index" class="btn btn-secondary fw-bold">Cancel</a>
            </div>
        </form>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.2/dist/js/bootstrap-multiselect.min.js"></script>
<script>

    // ================= IMAGE PREVIEW =================
    $("input[name='CompanyImage']").change(function(e){
        let reader = new FileReader();
        reader.onload = function(){
            $("#companyPreview").attr("src", reader.result).show();
        }
        reader.readAsDataURL(e.target.files[0]);
    });

    $("input[name='DealerImage']").change(function(e){
        let reader = new FileReader();
        reader.onload = function(){
            $("#dealerPreview").attr("src", reader.result).show();
        }
        reader.readAsDataURL(e.target.files[0]);
    });


    // ================= ADDRESS (FINAL CARD DESIGN) =================
    var addressIndex = 0;
    var currentRow = null;
    var itemInRow = 0;

    // default 2 address load
    $(document).ready(function(){
        addAddress();
        addAddress();
    });

    function addAddress(){

        // new row
        if(itemInRow === 0){
            currentRow = $('<div class="row g-3 mb-2 address-row"></div>');
            $("#addressContainer").append(currentRow);
        }

        var html = `
        <div class="col-md-6 address-item">

            <div class="address-card">

                <!-- remove -->
                <i class="bi bi-x-circle text-danger address-remove"
                   onclick="removeAddress(this)"></i>

                <div class="row">

                    <div class="col-md-4">
                        <label>Type</label>
                        <input type="text"
                               name="Addresses[${addressIndex}].AddressType"
                               class="form-control" />
                    </div>

                    <div class="col-md-8">
                        <label>Address</label>
                        <textarea
                            name="Addresses[${addressIndex}].AddressLine"
                            class="form-control"
                            rows="2"></textarea>
                    </div>

                </div>

            </div>

        </div>
        `;

        currentRow.append(html);

        addressIndex++;
        itemInRow++;

        // max 2 per row
        if(itemInRow === 2){
            itemInRow = 0;
        }
    }


    // ================= REMOVE ADDRESS =================
    function removeAddress(el){

        var card = $(el).closest(".address-item");
        var row = card.closest(".address-row");

        card.remove();

        if(row.children().length === 0){
            row.remove();
        }
    }


    // ================= FORM SUBMIT + REINDEX =================
       $("#dealerForm").submit(function(){

        let index = 0;

        $("#addressContainer .address-row").each(function(){

            $(this).find(".address-item").each(function(){

                var typeInput = $(this).find("input");
                var addressInput = $(this).find("textarea");

                typeInput.attr("name", "Addresses[" + index + "].AddressType");
                addressInput.attr("name", "Addresses[" + index + "].AddressLine");

                index++;
            });

        });

        // ✅ NOTES REINDEX (FIXED)
        let noteIndex = 0;

        $("#notesContainer .note-row").each(function(){

            $(this).find(".note-item").each(function(){

                var cat = $(this).find("select");
                var text = $(this).find("textarea");

                cat.attr("name", "NotesA[" + noteIndex + "].CategoryId");
                text.attr("name", "NotesA[" + noteIndex + "].NoteText");

                noteIndex++;
            });

        });

        if(!validateGST() || !validatePAN()){
            return false;
        }

        return true;
    });


    // ================= GST + PAN =================
    function validatePAN(){
        var pan = $("#pan").val();
        var regex = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;

        if(pan == "" || !regex.test(pan)){
            $("#panError").text("Invalid PAN");
            return false;
        }

        $("#panError").text("");
        return true;
    }

    function validateGST(){
        var gst = $("#gst").val();
        var regex = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[A-Z0-9]{1}Z[A-Z0-9]{1}$/;

        if(gst == "" || !regex.test(gst)){
            $("#gstError").text("Invalid GST");
            return false;
        }

        $("#gstError").text("");
        return true;
    }


    // ================= AUTO UPPERCASE =================
    $("#gst, #pan").on("input", function(){
        this.value = this.value.toUpperCase();
    });

</script>
<script>

    // DEALER IMAGE
    $("#dealerImageInput").change(function(e){

        let reader = new FileReader();

        reader.onload = function(){
            $("#dealerPreview").attr("src", reader.result).show();
            $("#dealerRemove").show();
        }

        reader.readAsDataURL(e.target.files[0]);
    });

    $("#dealerRemove").click(function(){

        // IMPORTANT → input clear
        $("#dealerImageInput").val("");

        // preview hide
        $("#dealerPreview").attr("src","").hide();

        // delete icon hide
        $(this).hide();
    });


    // COMPANY IMAGE
    $("#companyImageInput").change(function(e){

        let reader = new FileReader();

        reader.onload = function(){
            $("#companyPreview").attr("src", reader.result).show();
            $("#companyRemove").show();
        }

        reader.readAsDataURL(e.target.files[0]);
    });

    $("#companyRemove").click(function(){

        $("#companyImageInput").val("");
        $("#companyPreview").attr("src","").hide();
        $(this).hide();
    });
</script>
<script>
    function redirectToCommunication() {
        window.location.href = '@Url.Action("Person", "MasterData")';
    }
</script>
<script>


    // toggle
    function toggleCommDropdown(){
        $("#commDropdown").toggle();
    }

    // search
    function filterComm(){

        let input = $("#commSearch").val().toLowerCase();

        $("#commOptions .option").each(function(){

            let text = $(this).text().toLowerCase();

            $(this).toggle(text.includes(input));
        });
    }


    // selection logic (COUNT SAME AS NOTES)
    function updateCommSelection(){

        let count = 0;

        $("#commHiddenContainer").empty();

        $("#commOptions input:checked").each(function(){

            let id = $(this).val();

            count++;

            $("#commHiddenContainer").append(
                `<input type="hidden" name="Dealer.CommunicationIds" value="${id}" />`
            );
        });

        if(count > 0){
            $("#commDropdown").prev(".dropdown-display").text(count + " Person Selected");
        }
        else{
            $("#commDropdown").prev(".dropdown-display").text("Select Person");
        }
    }


    // close outside
    $(document).click(function(e){

        if(!$(e.target).closest("#commDropdown, .dropdown-display").length){
            $("#commDropdown").hide();
        }

    });
        // ================= NOTES (SAME AS ADDRESS) =================

    var noteIndex = 0;
    var noteCurrentRow = null;
    var noteItemInRow = 0;

    // default 1 note
    $(document).ready(function(){
        addNote();
    });

    function addNote(){

        // new row
        if(noteItemInRow === 0){
            noteCurrentRow = $('<div class="row g-3 mb-2 note-row"></div>');
            $("#notesContainer").append(noteCurrentRow);
        }

        var html = `
        <div class="col-md-6 note-item">

            <div class="address-card">

                <!-- remove -->
                <i class="bi bi-x-circle text-danger address-remove"
                   onclick="removeNote(this)"></i>

                <div class="row">

                    <div class="col-md-4">
                        <label>Category</label>
                        <select name="NotesA[${noteIndex}].CategoryId" class="form-select">
                            <option value="">Select</option>
                            ${getCategoryOptions()}
                        </select>
                    </div>

                    <div class="col-md-8">
                        <label>Note</label>
                        <textarea
                            name="NotesA[${noteIndex}].NoteText"
                            class="form-control"
                            rows="2"></textarea>
                    </div>

                </div>

            </div>

        </div>
        `;

        noteCurrentRow.append(html);

        noteIndex++;
        noteItemInRow++;

        if(noteItemInRow === 2){
            noteItemInRow = 0;
        }
    }


    // ================= REMOVE NOTE =================
    function removeNote(el){

        var card = $(el).closest(".note-item");
        var row = card.closest(".note-row");

        card.remove();

        // 🔥 SHIFT FIX → auto re-arrange
        reArrangeNotes();

        if(row.children().length === 0){
            row.remove();
        }
    }


    // ================= REARRANGE (IMPORTANT) =================
    function reArrangeNotes(){

        let all = [];

        $("#notesContainer .note-item").each(function(){
            all.push($(this));
        });

        $("#notesContainer").empty();

        noteItemInRow = 0;
        noteCurrentRow = null;

        all.forEach(function(item){

            if(noteItemInRow === 0){
                noteCurrentRow = $('<div class="row g-3 mb-2 note-row"></div>');
                $("#notesContainer").append(noteCurrentRow);
            }

            noteCurrentRow.append(item);

            noteItemInRow++;

            if(noteItemInRow === 2){
                noteItemInRow = 0;
            }
        });
    }


    // ================= CATEGORY OPTIONS =================
    function getCategoryOptions(){

        var options = '';

        @foreach (var c in ViewBag.CategoryList)
        {
                <text>
                    options += `<option value="@c.ID">@c.CategoryName</option>`;
                </text>
        }

        return options;
    }
        // NOTES REINDEX
 
</script>