@model BespokeSoftware.Models.Dealer.DealerViewModel

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    #ownerPreview img,
    #companyPreview img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    .small-scroll {
        max-height: 150px;
        overflow-y: auto;
    }
    .section-title {
        color: #0dcaf0;
        font-weight: bold;
    }

    .section-box {
        border: 1px solid #0dcaf0;
        border-radius: 8px;
        padding: 12px;
        background: #f8fcff;
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    }

    .inner-scroll {
        max-height: 300px;
        overflow-y: auto;
    }

    .box {
        border: 1px solid #dee2e6;
        padding: 8px;
        border-radius: 6px;
        background: #fff;
        position: relative;
        margin-bottom: 8px;
    }

    .remove {
        position: absolute;
        top: 5px;
        right: 8px;
        cursor: pointer;
    }

    .add-icon {
        color: #0dcaf0;
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s;
    }

        .add-icon:hover {
            transform: scale(1.2);
        }

    .error-msg {
        color: #dc3545;
        font-size: 13px;
        margin-top: 2px;
    }

    #imageGrid img {
        width: 60px;
        height: 60px;
    
    }

    .position-relative i {
        display: none;
    }

    .position-relative:hover i {
        display: block;
    }

</style>

<div class="card border-info">

    <div class="card-header text-center fw-bold bg-info text-white">
        Add Dealer
    </div>

    <div class="card-body">

        <form id="dealerForm" method="post">

            <!-- ================= DEALER INFO ================= -->
            <div class="section-box mb-3">

                <h5 class="section-title">Dealer Information</h5>

                <div class="row g-3">

                    <div class="col-md-3">
                        <label>Dealer Name</label>
                        <input name="Dealer.DealerName" class="form-control" />
                    </div>

                    <div class="col-md-3">

                        <label>Owner</label>

                        <div class="d-flex gap-2">

                            <button type="button"
                                    class="btn btn-info w-100"
                                    onclick="openOwnerPopup()">

                                + Add Owner

                            </button>

                        </div>

@*                         <div id="ownerPreview" class="mt-2"></div>
 *@
                    </div>
                    <div class="col-md-3">

                        <label class="">Main Office</label>

                        <div class="d-flex gap-2">

                            <button type="button"
                                    class="btn btn-info w-100"
                                    onclick="openMainOfficePopup()">

                                + Add

                            </button>

                        </div>

                        <div id="companyPreview" class="mt-2"></div>

                    </div>

                    <div class="col-md-3">
                        <label>GST</label>
                        <input name="Dealer.GSTNo" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <label>PAN</label>
                        <input name="Dealer.PANNo" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <label>Credit Terms</label>
                        <select name="Dealer.DefaultPaymentModeId" class="form-select">
                            <option value="">Select</option>
                            @foreach (var p in ViewBag.PaymentModeList)
                            {
                                <option value="@p.ID">@p.PaymentModeName</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Weekly Off</label>
                        <select name="Dealer.WeeklyOffDayId" class="form-select">
                            <option value="">Select</option>
                            @foreach (var w in ViewBag.WeeklyOffList)
                            {
                                <option value="@w.ID">@w.Day</option>
                            }
                        </select>
                    </div>

                    <!-- ================= ROW 1: ADDRESS + IMAGES ================= -->
                    <!-- ADDRESS -->
                    <div class="col-md-12">
                        <div class="section-box">
                            <div class="d-flex justify-content-between">
                                <h5 class="section-title">Dealer Address</h5>
                                <i class="bi bi-plus-circle-fill add-icon" onclick="addDealerAddress()"></i>
                            </div>
                            <div id="dealerAddressContainer" class="row inner-scroll"></div>
                        </div>
                    </div>

                    <!-- IMAGES -->
                    <div class="col-md-12">
                        <div class="section-box">
                            <div class="d-flex justify-content-between">
                                <h5 class="section-title">Images</h5>
                                <i class="bi bi-plus-circle-fill add-icon" onclick="openImageModal()"></i>
                            </div>
                            <div id="imageGrid" class="row inner-scroll"></div>
                        </div>
                    </div>

                </div>
            </div>

       
            <!-- ================= ROW 2: NOTES FULL ================= -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="section-box">
                        <div class="d-flex justify-content-between">
                            <h5 class="section-title">Notes</h5>
                            <i class="bi bi-plus-circle-fill add-icon" onclick="addNote()"></i>
                        </div>
                        <div id="notesContainer" class="inner-scroll"></div>
                    </div>
                </div>
            </div>


            <!-- ================= ROW 3: PERSON FULL ================= -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="section-box">
                        <div class="d-flex justify-content-between">
                            <h5 class="section-title">Person Details</h5>
                            <i class="bi bi-plus-circle-fill add-icon" onclick="openPersonModal()"></i>
                        </div>
                        <div id="personGrid" class="inner-scroll"></div>
                    </div>
                </div>
            </div>
            <div class="text-center">
              @*   <button type="button" onclick="saveDealer()" class="btn btn-info px-4 fw-bold">
                    Save Dealer
                </button> *@
                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
{
    <button type="button" onclick="saveDealer()" class="btn btn-info px-4 fw-bold">
        Save Dealer
    </button>
}
                <button type="button"
                        class="btn btn-secondary px-4 fw-bold"
                        onclick="window.location.href='@Url.Action("Index", "Dealer")'">
                    Cancel
                </button>
            </div>

        </form>

    </div>
</div>

<!-- ================= IMAGE MODAL ================= -->
<div class="modal fade" id="imageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5>Add Images</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="file" id="multiImageInput" multiple class="form-control" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="saveImages()">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- ================= PERSON MODAL ================= -->
<div class="modal fade" id="personModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header bg-info text-white">
                <h5>Add Person</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div class="row g-2">

                    <!-- ROW 1 -->
                    <div class="col-md-3">
                        <label class="fw-bold">Title</label>
                        <select id="pTitle" class="form-control">
                            <option value="">Select</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="fw-bold">First Name</label>
                        <input id="pFirst" class="form-control" placeholder="First Name" />
                    </div>

                    <div class="col-md-3">
                        <label class="fw-bold">Middle Name</label>
                        <input id="pMiddle" class="form-control" placeholder="Middle Name" />
                    </div>

                    <div class="col-md-3">
                        <label class="fw-bold">Last Name</label>
                        <input id="pLast" class="form-control" placeholder="Last Name" />
                    </div>

                    <!-- ROW 2 -->
                    <div class="col-md-3">
                        <label class="fw-bold">Gender</label>
                        <select id="pGender" class="form-control">
                            <option value="">Select</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="fw-bold">Date Of Birth</label>
                        <input type="date" id="pDOB" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <label class="fw-bold">Anniversary Date</label>
                        <input type="date" id="pAnniversary" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <label class="fw-bold">PAN</label>
                        <input id="pPAN" class="form-control" placeholder="PAN" />
                    </div>

                    <!-- ROW 3 -->
                    <div class="col-md-4">
                        <label class="fw-bold">Designation</label>
                        <input id="pType" class="form-control" placeholder="Designation" />
                    </div>

                    <div class="col-md-4">
                        <label class="fw-bold">Person Image</label>
                        <input type="file" id="pImageInput" class="form-control" multiple />
                    </div>

                    <div class="col-md-4">
                        <label class="fw-bold">Remark</label>
                        <input id="pRemark" class="form-control" placeholder="Remark" />
                    </div>

                </div>
                <div id="personImagePreview" class="row mt-2"></div>
                <!-- ================= COMMUNICATION ================= -->
                <h6 class="text-info mt-3 d-flex justify-content-between">
                    Communication
                    <i class="bi bi-plus-circle-fill add-icon" onclick="addComm()"></i>
                </h6>

                <div id="commContainer" class="small-scroll"></div>
                <!-- ================= ADDRESS ================= -->
                <h6 class="text-info mt-3 d-flex justify-content-between">
                    Address
                    <i class="bi bi-plus-circle-fill add-icon" onclick="addPersonAddress()"></i>
                </h6>

                <div id="personAddressContainer" class="small-scroll"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info" onclick="savePerson()">Add Person</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="categoryModal">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-info">
                <h5>Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <input type="text"
                       id="newCategory"
                       class="form-control"
                       placeholder="Enter Category" />

            </div>

            <div class="modal-footer">

                <button class="btn btn-primary"
                        onclick="saveCategory()">
                    Save
                </button>

            </div>

        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    var dealerImages = [];
    var ownerIndex = null;

    function saveCategory(){

        let category = $("#newCategory").val();

        if(category==""){
            alert("Enter category");
            return;
        }

        $.post('/Dealer/AddCategory',
        {
            Category:category
        },
        function(){

            $("#categoryModal").modal('hide');
            $("#newCategory").val('');

            loadCategories();

            Swal.fire("Success","Category added successfully","success");

        });

    }
     function openOwnerPopup(){

         if(ownerIndex !== -1){
        Swal.fire("Warning","Owner already added","warning");
        return;
    }


        $("#personModal").modal('show');

        $("#personModal").data("isOwner", true);

        $("#pType").val("Owner");   // auto designation

        $("#pType").prop("readonly", true);

    }

     $('#personModal').on('hidden.bs.modal', function () {

        $("#pType").prop("readonly", false);
        $("#pType").val("");   

        $("#personModal").data("isOwner", false); 

    });

           function openMainOfficePopup(){

     let alreadyMain = dealerImages.some(x => x.type === "MainOffice");

    if(alreadyMain){
        Swal.fire("Warning","Main Office image already added","warning");
        return;
    }

    $("#imageModal").data("type","MainOffice");
    $("#multiImageInput").val("");
    $("#imageModal").modal('show');

    }

        function removeMainOffice(){

    $("#companyPreview").empty();

    dealerImages = dealerImages.filter(x=>x.type !== "MainOffice");

    }


    // ================= ADDRESS =================

    var dIndex=0;

    function addDealerAddress(){

        if($("#dealerAddressContainer .box").length >= 10){
            alert("Max 10 Dealer Addresses allowed");
            return;
        }

    $("#dealerAddressContainer").append(`

    <div class="col-md-4">

    <div class="box">

    <i class="bi bi-x-circle text-danger remove"
    onclick="$(this).closest('.col-md-4').remove()"></i>

    <input name="DealerAddresses[${dIndex}].AddressType"
    class="form-control mb-1"
    placeholder="Type"/>

    <input name="DealerAddresses[${dIndex}].AddressLine"
    class="form-control"
    placeholder="Enter address"/>

    </div>

    </div>

    `);

    dIndex++;
    }

    // ================= NOTES =================


    var noteIndex = 0;

    function addNote(){

    if($("#notesContainer .box").length >= 30){
    alert("Max 30 Notes allowed");
    return;
    }

    $("#notesContainer").append(`

    <div class="box">

    <i class="bi bi-x-circle text-danger remove"
    onclick="$(this).parent().remove()"></i>

    <div class="row">

    <div class="col-md-4">

    <label>Category</label>

    <div class="d-flex">

    <select name="DealerNotes[${noteIndex}].CategoryId"
    class="form-control">

    <option value="">Select Notes Category</option>
    ${getCategoryOptions()}

    </select>

    <i class="bi bi-plus-circle text-primary ms-2 mt-2"
    onclick="openCategoryModal()"
    style="cursor:pointer"></i>

    <i class="bi bi-arrow-clockwise text-success ms-2 mt-2"
    onclick="refreshCategory(this)"
    style="cursor:pointer"></i>

    </div>

    </div>

    <div class="col-md-4">
    <label>Note By</label>

    <input type="text"
    name="DealerNotes[${noteIndex}].NoteFor"
    class="form-control"/>

    </div>

    <div class="col-md-4">
    <label>Date</label>

    <input type="date"
    name="DealerNotes[${noteIndex}].NoteDate"
    class="form-control"/>

    </div>

    </div>

    <div class="row mt-2">

    <div class="col-md-12">

    <label>Note</label>

    <textarea
    name="DealerNotes[${noteIndex}].NoteText"
    class="form-control"></textarea>

    </div>

    </div>

    </div>

    `);

    noteIndex++;

    }

        function openCategoryModal(){
        $("#categoryModal").modal('show');
    }

    function getCategoryOptions(){

        var options = '';

        categoryList.forEach(function(c){
            options += `<option value="${c.id}">${c.categoryName}</option>`;
        });

        return options;

    }

        function refreshCategory(ele){

    $.get('/Dealer/GetCategories', function(data){

    let dropdown = $(ele).closest('.box').find('select');

    dropdown.empty();

    dropdown.append('<option value="">Select Notes Category</option>');

    data.forEach(function(c){

    dropdown.append(`<option value="${c.id}">${c.categoryName}</option>`);

    });

    });

    }


    // ================= IMAGE =================

    function openImageModal(){

    $("#multiImageInput").val("");
    $("#imageModal").modal('show');

    }


    // SAVE IMAGES

    function saveImages(){

    let input = $("#multiImageInput")[0];
    let files = input.files;

    let type = $("#imageModal").data("type") || "Normal";

    for(let i=0; i<files.length; i++){

    let file = files[i];

    dealerImages.push({
    file:file,
    type:type
    });

    let localType = type;

    let reader = new FileReader();

    reader.onload = function(e){

    let badge = localType === "MainOffice"
    ? `<span class="badge bg-primary position-absolute"
    style="top:5px;left:5px">Main</span>`
    : "";

    $("#imageGrid").append(`

    <div class="col-md-1 mb-2">
    <div class="position-relative">

    ${badge}

    <img src="${e.target.result}"
    style="width:70px;height:70px;
    object-fit:cover;border-radius:6px">

    <i class="bi bi-x-circle text-danger"
    style="position:absolute; top:5px; right:5px;"
    onclick="removeDealerImage(${dealerImages.length-1}, this)">
    </i>

    </div>
    </div>

    `);

    };

    reader.readAsDataURL(file);

    }

    // RESET TYPE IMPORTANT
    $("#imageModal").removeData("type");

    $("#multiImageInput").val("");
    $("#imageModal").modal('hide');

    }
        function removeDealerImage(index, el){

    dealerImages.splice(index, 1);

    $(el).closest('.col-md-1').remove();

    }



    // ================= SAVE DEALER =================

    function saveDealer(){

    let formData = new FormData();


    // ================= DEALER =================

    formData.append("Dealer.DealerName", $("input[name='Dealer.DealerName']").val());
    formData.append("Dealer.GSTNo", $("input[name='Dealer.GSTNo']").val());
    formData.append("Dealer.PANNo", $("input[name='Dealer.PANNo']").val());
    formData.append("Dealer.DefaultPaymentModeId", $("select[name='Dealer.DefaultPaymentModeId']").val());
    formData.append("Dealer.WeeklyOffDayId", $("select[name='Dealer.WeeklyOffDayId']").val());


    // ================= DEALER IMAGES =================

    dealerImages.forEach((img,i)=>{

    formData.append("DealerImages", img.file);
    formData.append(`DealerImageTypes[${i}]`, img.type);

    });


    // ================= DEALER ADDRESS =================

    $("#dealerAddressContainer .box").each(function(i){

    formData.append(`DealerAddresses[${i}].AddressType`,
    $(this).find("input").eq(0).val());

    formData.append(`DealerAddresses[${i}].AddressLine`,
    $(this).find("input").eq(1).val());

    });


    // ================= DEALER NOTES =================

    $("#notesContainer .box").each(function(i){

    formData.append(`DealerNotes[${i}].CategoryId`,
    $(this).find("select").val());

    formData.append(`DealerNotes[${i}].NoteText`,
    $(this).find("textarea").val());

    formData.append(`DealerNotes[${i}].NoteFor`,
        $(this).find("input[type='text']").val());

    formData.append(`DealerNotes[${i}].Notedate`,
        $(this).find("input[type='date']").val());

    });


    // ================= PERSON =================

    personList.forEach((p,index)=>{

    formData.append(`Persons[${index}].Title`, p.Title);
    formData.append(`Persons[${index}].First`, p.First);
    formData.append(`Persons[${index}].Middle`, p.Middle);
    formData.append(`Persons[${index}].Last`, p.Last);
    formData.append(`Persons[${index}].Gender`, p.Gender);
    formData.append(`Persons[${index}].Dob`, p.Dob);
    formData.append(`Persons[${index}].Anniversary`, p.Anniversary);
    formData.append(`Persons[${index}].Pan`, p.Pan);
    formData.append(`Persons[${index}].Type`, p.Type);
    formData.append(`Persons[${index}].Remark`, p.Remark);


    // COMMUNICATION

    p.Communications?.forEach((c,i)=>{

    formData.append(`Persons[${index}].Communications[${i}].Type`, c.Type);
    formData.append(`Persons[${index}].Communications[${i}].Label`, c.Label);
    formData.append(`Persons[${index}].Communications[${i}].Value`, c.Value);

    });


    // ADDRESS

    p.Addresses?.forEach((a,i)=>{

    formData.append(`Persons[${index}].Addresses[${i}].Type`, a.Type);
    formData.append(`Persons[${index}].Addresses[${i}].Address`, a.Address);

    });


       // PERSON IMAGES

    p.Images?.forEach((img,i)=>{

    formData.append(`Persons[${index}].Images`, img);

    });

    });


    $.ajax({

    url: '@Url.Content("~/Dealer/SaveDealerFull")',
    type: "POST",
    data: formData,
    processData: false,
    contentType: false,

       success: function (res) {

        Swal.fire({
            title: "Success",
            text: "Dealer Saved Successfully",
            icon: "success",
            confirmButtonText: "OK"
        }).then(() => {

            window.location.href = '@Url.Action("Index", "Dealer")';

        });

    },

    error:function(){

    Swal.fire("Error","Something went wrong","error");

    }

    });

    }

    // ================= COMMON =================

    function showFieldError(el,msg){
    el.next(".error-msg").remove();
    el.after(`<div class="error-msg">${msg}</div>`);
    }

    function clearErrors(){
    $(".error-msg").remove();
    }


    function showPreview(img){

    $("#previewImg").attr("src", img);

    var myModal =
    new bootstrap.Modal(
    document.getElementById('imagePreviewModal')
    );

    myModal.show();

    }


    function showError(msg){

    Swal.fire({

    icon:"error",
    title:"Error",
    text:msg

    });

    }

</script>

<div class="modal fade" id="imagePreviewModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-info">
                <h5>Image Preview</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <img id="previewImg"
                     class="img-fluid rounded"
                     style="max-height:400px; object-fit:contain;" />
            </div>

        </div>
    </div>
</div>

<script>

// PERSON
var personList=[];
var personImages = [];
var ownerIndex = -1;
    var categoryList = [];

        $(document).ready(function () {
        loadCategories();
    });

    function loadCategories(){

        $.get('/Dealer/GetCategories', function(data){

            categoryList = data;

        });

    }

    function openPersonModal(){

        $("#personModal").modal('show');

        $("#personModal").data("isOwner", false);

        $("#pType").prop("readonly", false);
        $("#pType").val("");

    }

function addComm(){

    if($("#commContainer .box").length >= 10){
        alert("Max 10 Communications allowed");
        return;
    }

    $("#commContainer").append(`

    <div class="box">

        <i class="bi bi-x-circle text-danger remove"
           onclick="$(this).parent().remove()"></i>

        <div class="row g-2">

            <div class="col-md-4">
                <label class="fw-bold">Type</label>
                <select class="form-control">
                    <option value="">Select</option>
                    <option>Mobile</option>
                    <option>Email</option>
                    <option>Landline</option>
                </select>
            </div>

            <div class="col-md-4">
                <label class="fw-bold">Communication Label</label>
                <input type="text" class="form-control"
                       placeholder="EX: Personal / Official / WhatsApp" >
            </div>

            <div class="col-md-4">
                <label class="fw-bold">Value</label>
                <input type="text" class="form-control"
                       placeholder="Enter value"/>
            </div>

        </div>

    </div>
    `);
}

function addPersonAddress(){

    if($("#personAddressContainer .box").length >= 10){
        alert("Max 10 Addresses allowed");
        return;
    }

    $("#personAddressContainer").append(`

    <div class="box">

        <i class="bi bi-x-circle text-danger remove"
           onclick="$(this).parent().remove()"></i>

        <div class="row g-2">

            <div class="col-md-4">
                <label class="fw-bold">Type</label>
                <input type="text" class="form-control"/>
            </div>

            <div class="col-md-8">
                <label class="fw-bold">Address</label>
                <input type="text" class="form-control"
                       placeholder="Enter address"/>
            </div>

        </div>

    </div>
    `);
}

function removeErrorOnInput(){

    $("#personModal input, #personModal select").on("input change", function(){
        $(this).next(".error-msg").remove();
    });

}

async function savePerson(){

    if(personList.length >= 10){
        alert("Max 10 Persons allowed");
        return;
    }

    let isValid = true;

    $(".error-msg").remove();

    function setError(el, msg){
        el.after(`<div class="error-msg">${msg}</div>`);
        isValid = false;
    }

    let title = $("#pTitle");
    let first = $("#pFirst");
    let middle = $("#pMiddle");
    let last = $("#pLast");
    let gender = $("#pGender");
    let pan = $("#pPAN");
    let type = $("#pType");

    if(title.val() === "") setError(title, "Title is required");
    if(first.val().trim() === "") setError(first, "First name is required");
    if(last.val().trim() === "") setError(last, "Last name is required");
    if(gender.val() === "") setError(gender, "Gender is required");
    if(type.val().trim() === "") setError(type, "Designation is required");

    let panVal = pan.val()?.toUpperCase() || null;
    let panRegex = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;

    if(panVal){
        if(!panRegex.test(panVal)){
            setError(pan, "Invalid PAN format (ABCDE1234F)");
        }
    }

    if($("#commContainer .box").length === 0){
        alert("Add at least 1 communication");
        return;
    }

    if($("#personAddressContainer .box").length === 0){
        alert("Add at least 1 address");
        return;
    }

    if(!isValid) return;

    // ===== IMAGE (NO BASE64) =====
    let validImages = (personImages || []).filter(x => x != null);

    let p = {
        Title: title.val() || null,
        First: first.val() || null,
        Middle: middle.val() || null,
        Last: last.val() || null,
        Gender: gender.val() || null,
        Dob: $("#pDOB").val() || null,
        Anniversary: $("#pAnniversary").val() || null,
        Pan: panVal,
        Type: type.val() || null,
        Remark: $("#pRemark").val() || null,

        Images: validImages,   // FILE STORE

        Communications: [],
        Addresses: []
    };

    let mobileRegex = /^[6-9]\d{9}$/;
    let emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
    let landlineRegex = /^\d{10}$/;

    let commValid = true;

    $("#commContainer .box").each(function(){

        let typeVal = $(this).find("select").val();
        let labelVal = $(this).find("input").eq(0).val();
        let valueVal = $(this).find("input").eq(1).val();

        if(!typeVal || !valueVal){
            alert("Communication Type & Value required");
            commValid = false;
            return false;
        }

        if(typeVal === "Mobile" && !mobileRegex.test(valueVal)){
            alert("Invalid Mobile Number");
            commValid = false;
            return false;
        }

        if(typeVal === "Email" && !emailRegex.test(valueVal)){
            alert("Invalid Email");
            commValid = false;
            return false;
        }

        if(typeVal === "Landline" && !landlineRegex.test(valueVal)){
            alert("Invalid Landline");
            commValid = false;
            return false;
        }

        p.Communications.push({
            Type: typeVal,
            Label: labelVal || null,
            Value: valueVal
        });

    });

    if(!commValid) return;

    $("#personAddressContainer .box").each(function(){

        let typeVal = $(this).find("input").eq(0).val();
        let addrVal = $(this).find("input").eq(1).val();

        if(!typeVal || !addrVal){
            alert("Address Type & Address required");
            return false;
        }

        p.Addresses.push({
            Type: typeVal,
            Address: addrVal
        });

    });

    // SAVE
    personList.push(p);

    // OWNER
      let isOwner = $("#personModal").data("isOwner");

    if(isOwner){
        ownerIndex = personList.length - 1;
        $("#personModal").data("isOwner", false);
    }

    renderPersonGrid();

    personImages = [];

    $("#personModal input, #personModal textarea").val("");
    $("#personModal select").val("");
    $("#commContainer").empty();
    $("#personAddressContainer").empty();
    $("#personImagePreview").empty();

    $("#personModal").modal('hide');

    Swal.fire({
        icon: 'success',
        title: 'Person Added',
        text: 'Person added successfully'
    });

}

    function renderPersonGrid(){

        $("#personGrid").empty();

        personList.forEach((p, index)=>{

            // IMAGE
            let imgHtml = "";

            if(p.Images && p.Images.length > 0){
                let img = URL.createObjectURL(p.Images[0]);

                imgHtml = `
                    <img src="${img}"
                    style="width:60px;height:60px;
                    object-fit:cover;border-radius:6px;border:1px solid #ddd"/>
                `;
            }

            // OWNER BADGE
            let ownerBadge = "";

            if(index === ownerIndex){
                ownerBadge = `<span class="badge bg-primary ms-2">Owner</span>`;
            }

            // COMMUNICATION
            let commHtml = "";

            if(p.Communications && p.Communications.length > 0){

                p.Communications.forEach(c=>{

                    commHtml += `
                        <div>
                            <strong>${c.Type}</strong> :
                            ${c.Value}
                            ${c.Label ? `(${c.Label})` : ''}
                        </div>
                    `;
                });

            }

            // ADDRESS
            let addressHtml = "";

            if(p.Addresses && p.Addresses.length > 0){

                p.Addresses.forEach(a=>{

                    addressHtml += `
                        <div>
                            <strong>${a.Type}</strong> :
                            ${a.Address}
                        </div>
                    `;
                });

            }

            // HTML APPEND
            $("#personGrid").append(`

            <div class="box">

                <i class="bi bi-x-circle text-danger remove"
                   onclick="removePerson(${index})"></i>

                <div class="row">

                    <!-- IMAGE -->
                    <div class="col-md-2 text-center">
                        ${imgHtml}
                    </div>

                    <!-- DETAILS -->
                    <div class="col-md-10">

                        <div class="fw-bold">
                            ${p.Title || ''} ${p.First || ''} ${p.Middle || ''} ${p.Last || ''}
                            ${ownerBadge}
                        </div>

                        <div class="text-muted">
                            ${p.Type || ''}
                        </div>

                        <div class="mt-1">
                            <strong>Gender :</strong> ${p.Gender || '-'}
                        </div>

                        <div>
                            <strong>DOB :</strong> ${p.Dob || '-'}
                        </div>

                        <div>
                            <strong>Anniversary :</strong> ${p.Anniversary || '-'}
                        </div>

                        <div>
                            <strong>PAN :</strong> ${p.Pan || '-'}
                        </div>

                        <div>
                            <strong>Remark :</strong> ${p.Remark || '-'}
                        </div>

                        <hr class="my-1"/>

                        <div>
                            <strong>Communication :</strong>
                            ${commHtml || 'No Communication'}
                        </div>

                        <div class="mt-1">
                            <strong>Address :</strong>
                            ${addressHtml || 'No Address'}
                        </div>

                    </div>

                </div>

            </div>

            `);

        });

    }

        function removePerson(index){

        personList.splice(index,1);

        if(ownerIndex === index){
            ownerIndex = -1;
            $("#ownerName").val("");
            $("#ownerPreview").empty();
        }

        renderPersonGrid();
    }

        $("#pImageInput").on("change", function(){

        let files = this.files;

        if(!files.length) return;

        for(let i=0;i<files.length;i++){

            let file = files[i];

            if(!file.type.startsWith("image/")){
                alert("Only images allowed");
                return;
            }

            personImages.push(file);

            let reader = new FileReader();

            reader.onload = function(e){

                $("#personImagePreview").append(`

                    <div class="col-md-2 mb-2 position-relative">

                        <img src="${e.target.result}"
                        style="width:70px;height:70px;
                        object-fit:cover;border-radius:6px;border:1px solid #ddd"/>

                        <i class="bi bi-x-circle text-danger"
                        style="position:absolute; top:-5px; right:5px; cursor:pointer;"
                        onclick="removePersonImage(${personImages.length-1}, this)">
                        </i>

                    </div>

                `);

            }

            reader.readAsDataURL(file);
        }

    });

        function removePersonImage(index, el){

        personImages.splice(index,1);

        $(el).parent().remove();

    }

</script>