@model BespokeSoftware.Models.DealerEditVM
@using System.Text.Json

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<style>
    .section-box {
        border: 1px solid #0dcaf0;
        border-radius: 8px;
        padding: 15px;
        background: #f8f9fa;
    }

    .section-title {
        font-weight: 600;
        color: #0dcaf0;
    }

    .add-icon {
        font-size: 20px;
        cursor: pointer;
        color: #0dcaf0;
    }

    .box {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 6px;
        margin-bottom: 10px;
        position: relative;
    }

    .remove {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
</style>

<div class="card border-info">
    <div class="card-header text-center fw-bold bg-info text-white">
        Edit Dealer
    </div>

    <div class="card-body">
        <form method="post">

            <input type="hidden" name="Dealer.DealerId" value="@Model.Dealer.DealerId" />

            <!-- ================= DEALER INFO ================= -->
            <div class="section-box mb-3">
                <h5 class="section-title">Dealer Information</h5>

                <div class="row g-3">
                    <div class="col-md-3">
                        <label>Name</label>
                        <input name="Dealer.DealerName" value="@Model.Dealer.DealerName" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <label>Owner</label>
                        <input name="Dealer.OwnerName" value="@Model.Dealer.OwnerName" class="form-control" />
                    </div>

                    <div class="col-md-3">

                        <label class="">Main Company</label>

                     @*    <div class="d-flex gap-2">
                            <button type="button"
                                    class="btn btn-info w-100"
                                    onclick="openMainOfficePopup()">
                                + Add
                            </button>
                        </div> *@

                        <div id="companyPreview" class="mt-2"></div>

                    </div>

                    <div class="col-md-3">
                        <label>GST</label>
                        <input name="Dealer.GSTNo" value="@Model.Dealer.GSTNo" class="form-control" />
                    </div>

                   @*  <div class="col-md-3">
                        <label>PAN</label>
                        <input name="Dealer.PANNo" value="@Model.Dealer.PANNo" class="form-control" />
                    </div> *@
                    <div class="col-md-3">
                        <label>Credit Terms</label>
                        <select name="Dealer.DefaultPaymentModeId" class="form-select">
                            <option value="">Select</option>

                            @foreach (var p in ViewBag.PaymentModeList)
                            {
                                <option value="@p.ID"
                                        selected="@(p.ID == Model.Dealer.DefaultPaymentModeId)">
                                    @p.PaymentModeName
                                </option>
                            }

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Weekly Off</label>
                        <select name="Dealer.WeeklyOffDayId" class="form-select">
                            <option value="">Select</option>

                            @foreach (var w in ViewBag.WeeklyOffList)
                            {
                                <option value="@w.ID"
                                        selected="@(w.ID == Model.Dealer.WeeklyOffDayId)">
                                    @w.Day
                                </option>
                            }

                        </select>
                    </div>
                </div>
            </div>

            <!-- ================= ADDRESS ================= -->
            <div class="section-box mb-3">
                <div class="d-flex justify-content-between">
                    <h5 class="section-title">Dealer Address</h5>
                    <i class="bi bi-plus-circle-fill add-icon" onclick="addDealerAddress()"></i>
                </div>

                <div id="dealerAddressContainer">
                    @for (int i = 0; i < Model.DealerAddresses.Count; i++)
                    {
                        <div class="box">
                            <i class="bi bi-x-circle text-danger remove" onclick="$(this).parent().remove()"></i>

                            <input name="DealerAddresses[@i].AddressType" value="@Model.DealerAddresses[i].AddressType" class="form-control mb-1" />
                            <input name="DealerAddresses[@i].AddressLine" value="@Model.DealerAddresses[i].AddressLine" class="form-control" />
                        </div>
                    }
                </div>
            </div>

            <!-- ================= NOTES ================= -->
            <div class="section-box mb-3">

                <div class="d-flex justify-content-between">
                    <h5 class="section-title">Notes</h5>

                    <!-- ✅ ADD BUTTON / ICON -->
                    <i class="bi bi-plus-circle-fill add-icon"
                       onclick="addNote()"></i>
                </div>
            <div id="notesContainer">

                @for (int i = 0; i < Model.DealerNotes.Count; i++)
                {
                    <div class="box">

                        <i class="bi bi-x-circle text-danger remove"
                           onclick="$(this).parent().remove()"></i>

                        <div class="row">

                            <!-- CATEGORY -->
                            <div class="col-md-4">
                                <label>Category</label>

                                <div class="d-flex">

                                    <select name="DealerNotes[@i].CategoryId"
                                            class="form-control">

                                        <option value="">Select Notes Category</option>

                                        @foreach (var c in ViewBag.CategoryList)
                                        {
                                            <option value="@c.ID"
                                                    selected="@(c.ID == Model.DealerNotes[i].CategoryId)">
                                                @c.CategoryName
                                            </option>
                                        }

                                    </select>

                                    <!-- ADD CATEGORY -->
                                    <i class="bi bi-plus-circle text-primary ms-2 mt-2"
                                       onclick="openCategoryModal()"
                                       style="cursor:pointer"></i>

                                    <!-- REFRESH -->
                                    <i class="bi bi-arrow-clockwise text-success ms-2 mt-2"
                                       onclick="refreshCategory(this)"
                                       style="cursor:pointer"></i>

                                </div>
                            </div>

                            <!-- NOTE FOR -->
                            <div class="col-md-4">
                                <label>Note By</label>
                                <input type="text"
                                       name="DealerNotes[@i].NoteFor"
                                       value="@Model.DealerNotes[i].NoteFor"
                                       class="form-control" />
                            </div>

                            <!-- DATE -->
                            <div class="col-md-4">
                                <label>Date</label>
                                <input type="date"
                                       name="DealerNotes[@i].NoteDate"
                                       value="@Model.DealerNotes[i].Notedate?.ToString("yyyy-MM-dd")"
                                       class="form-control" />
                            </div>

                        </div>

                        <!-- NOTE TEXT -->
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label>Note</label>
                                <textarea name="DealerNotes[@i].NoteText"
                                      class="form-control">@Model.DealerNotes[i].NoteText</textarea>
                            </div>
                        </div>

                    </div>
                }

            </div>
            </div>
            <!-- ================= IMAGES ================= -->
            <div class="section-box mb-3">

                <div class="d-flex justify-content-between">
                    <h5 class="section-title">Images</h5>
                    <i class="bi bi-plus-circle-fill add-icon" onclick="openImageModal()"></i>
                </div>

                <div class="row" id="imageGrid">

                    @foreach (var img in Model.DealerImages ?? new List<string>())
                    {
                        <div class="col-md-3 mb-2">
                            <div class="position-relative">

                                <img src="@img" class="img-fluid rounded" />

                                <i class="bi bi-x-circle text-danger"
                                   style="position:absolute;top:5px;right:5px;cursor:pointer;"
                                   onclick="$(this).parent().parent().remove()">
                                </i>

                            </div>
                        </div>
                    }

                </div>

                <!-- 🔥 hidden binding -->
                <div id="hiddenImages"></div>

            </div>

            <!-- ================= PERSON ================= -->
            <div class="section-box mb-3">
                <div class="d-flex justify-content-between">
                    <h5 class="section-title">Person Details</h5>
                    <i class="bi bi-plus-circle-fill add-icon" onclick="openPersonModal()"></i>
                </div>

                <div id="personGrid"></div>
                <div id="hiddenPersons"></div>

            </div>

            <div class="text-center">
@*                 <button class="btn btn-info px-4 fw-bold">Update Dealer</button>

 *@                
                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                {
                    <button class="btn btn-info px-4 fw-bold">Update Dealer</button>
                }
 <button type="button"
                        class="btn btn-secondary px-4 fw-bold"
                        onclick="window.location.href='@Url.Action("Index", "Dealer")'">
                    Cancel
                </button>
            </div>

        </form>
    </div>
</div>

<div class="modal fade" id="categoryModal">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-info">
                <h5>Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <input type="text"
                       id="newCategory"
                       class="form-control"
                       placeholder="Enter Category" />

            </div>

            <div class="modal-footer">

                <button class="btn btn-primary"
                        onclick="saveCategory()">
                    Save
                </button>

            </div>

        </div>
    </div>

</div>


<!-- ================= PERSON MODAL FULL ================= -->
<div class="modal fade" id="personModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header bg-info text-white">
                <h5>Add Person</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div class="row g-2">

                    <div class="col-md-3">
                        <label>Title</label>
                        <select id="pTitle" class="form-control">
                            <option value="">Select</option>
                            <option>Mr</option>
                            <option>Mrs</option>
                            <option>Miss</option>
                            <option>Ms</option>
                        </select>
                    </div>
                    <div class="col-md-3"><label>First</label><input id="pFirst" class="form-control" /></div>
                    <div class="col-md-3"><label>Middle</label><input id="pMiddle" class="form-control" /></div>
                    <div class="col-md-3"><label>Last</label><input id="pLast" class="form-control" /></div>

                    <div class="col-md-3">
                        <label>Gender</label>
                        <select id="pGender" class="form-control">
                            <option value="">Select</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>

                    <div class="col-md-3"><label>DOB</label><input type="date" id="pDOB" class="form-control" /></div>
                    <div class="col-md-3"><label>Anniversary</label><input type="date" id="pAnniversary" class="form-control" /></div>
                    <div class="col-md-3"><label>PAN</label><input id="pPAN" class="form-control" /></div>

                    <div class="col-md-4"><label>Designation</label><input id="pType" class="form-control" /></div>
                    <div class="col-md-4"><label>Remark</label><input id="pRemark" class="form-control" /></div>

                </div>

                <div class="col-md-4">
                    @*  <label>Person Images</label> *@
                    <h6 class="mt-3 d-flex justify-content-between">Person Images </h6>
                    <input type="file" id="pImageInput" multiple class="form-control" />
                    @*  <div class="d-flex gap-2">
                        <input type="file" id="pImageInput" multiple class="form-control" />
                    </div> *@
                </div>

                <div class="col-md-12 mt-2" id="personImagePreview"></div>

                <h6 class="mt-3 d-flex justify-content-between">Communication <i class="bi bi-plus-circle-fill add-icon" onclick="addComm()"></i></h6>
                <div id="commContainer"></div>

                <h6 class="mt-3 d-flex justify-content-between">Address <i class="bi bi-plus-circle-fill add-icon" onclick="addPersonAddress()"></i></h6>
                <div id="personAddressContainer"></div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="savePerson()">
                    Save
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="imageModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-info text-dark">
                <h5>Add Images</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="file" id="multiImageInput" multiple class="form-control" />
            </div>

            <div class="modal-footer">
                <button class="btn btn-info" onclick="saveImages()">Add</button>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

        var categoryList = [];
        var dealerImages = [];
           

    $(document).ready(function () {
        loadCategories();
    });

    function loadCategories(){

        $.get('/Dealer/GetCategories', function(data){
            categoryList = data;
        });

    }

     function getCategoryOptions(){

        var options = '';

        categoryList.forEach(function(c){
            options += `<option value="${c.id}">${c.categoryName}</option>`;
        });

        return options;

    }

        function refreshCategory(ele){

    $.get('/Dealer/GetCategories', function(data){

    let dropdown = $(ele).closest('.box').find('select');

    dropdown.empty();

    dropdown.append('<option value="">Select Notes Category</option>');

    data.forEach(function(c){

    dropdown.append(`<option value="${c.id}">${c.categoryName}</option>`);

    });

    });

    }

        function saveCategory(){

        let category = $("#newCategory").val();

        if(category==""){
            alert("Enter category");
            return;
        }

        $.post('/Dealer/AddCategory',
        {
            Category:category
        },
        function(){

            $("#categoryModal").modal('hide');
            $("#newCategory").val('');

            loadCategories();

            Swal.fire("Success","Category added successfully","success");

        });

    }


       var personList = @Html.Raw(JsonSerializer.Serialize(
                                Model.Persons ?? new List<BespokeSoftware.Models.PersonVM>(),
                                new JsonSerializerOptions { PropertyNamingPolicy = null }
                ));

      var personImages = [];

        function openPersonModal(){

        editIndex = -1; // 🔥 NEW PERSON MODE

        // CLEAR ALL INPUTS
        $("#personModal input, #personModal textarea").val("");
        $("#personModal select").val("");

        // CLEAR CONTAINERS
        $("#commContainer").empty();
        $("#personAddressContainer").empty();
        $("#personImagePreview").empty();

        // RESET IMAGE ARRAY
        personImages = [];

        $("#personModal").modal('show');
    }
    var personImages = [];

    $("#pImageInput").change(function () {

        let files = this.files;

        for (let i = 0; i < files.length; i++) {

            let file = files[i];

            // 👉 STORE FILE (NOT base64)
            personImages.push(file);

            let reader = new FileReader();

            reader.onload = function (e) {

                $("#personImagePreview").append(`
                    <div style="display:inline-block;margin:5px;">
                        <img src="${e.target.result}" width="80"/>
                    </div>
                `);
            };

            reader.readAsDataURL(file);
        }
    });
    
    function removePersonImage(index){
        personImages.splice(index,1);
        $("#personImagePreview").children().eq(index).remove();
    }
    function savePerson(){

        if(!$("#pFirst").val() || !$("#pLast").val()){
            alert("Name required");
            return;
        }

        let p={
            title:$("#pTitle").val(),
            firstName:$("#pFirst").val(),
            middleName:$("#pMiddle").val(),
            lastName:$("#pLast").val(),
            gender:$("#pGender").val(),
            dob:$("#pDOB").val(),
            anniversaryDate:$("#pAnniversary").val(),
            panNo:$("#pPAN").val(),
            personType:$("#pType").val(),
            remark:$("#pRemark").val(),
            communications:[],
            addresses:[],
           Images: personImages
        };

        $("#commContainer .box").each(function(){
            p.communications.push({
                type:$(this).find("select").val(),
                label:$(this).find("input").eq(0).val(),
                value:$(this).find("input").eq(1).val()
            });
        });

        $("#personAddressContainer .box").each(function(){
            p.addresses.push({
                addressType:$(this).find("input").eq(0).val(),
                addressLine:$(this).find("input").eq(1).val()
            });
        });

        if(editIndex >= 0){
        personList[editIndex] = p;
        editIndex = -1;
    }
    else{
        personList.push(p);
    }
        renderPersonGrid();

        $("#personModal input, #personModal textarea").val("");
        $("#personModal select").val("");
        $("#commContainer").empty();
        $("#personAddressContainer").empty();
                $("#personImagePreview").empty();

        personImages = [];

        $("#personModal").modal('hide');
    }

    function renderPersonGrid(){

        $("#personGrid").empty();
        $("#hiddenPersons").empty();

        personList.forEach((p,i)=>{

            let comm="",addr="",imgs="";

            // ================= COMMUNICATION =================
                  (p.Communications || p.communications || []).forEach(c=>{
        comm += `
        <div>
        • <b>${c.Type || c.type}</b> :
        ${c.Value || c.value} (${c.Label || c.label || ''})
        </div>
        `;
    });

            // ================= ADDRESS =================
            (p.Addresses || p.addresses || []).forEach(a=>{
                addr+=`
                <div>
                • <b>${a.AddressType || a.addressType}</b> :
                ${a.AddressLine || a.addressLine}
                </div>
                `;
            });

            // ================= IMAGES =================
                (p.Images || p.images || []).forEach(img => {

        let src = "";

        //  EXISTING IMAGE (string path)
        if (typeof img === "string") {
            src = img;
        }

        //  NEW IMAGE (File object)
        else if (img instanceof File) {
            src = URL.createObjectURL(img);
        }

        imgs += `
            <img src="${src}"
                 width="70"
                 class="me-2 mb-1 border rounded"/>
        `;
    });

            // ================= UI CARD =================
            $("#personGrid").append(`
            <div class="card mb-3 border-info">
            <div class="card-body">

            <h5 class="text-info fw-bold">
            ${p.FirstName || p.firstName || ''}
            ${p.MiddleName || p.middleName || ''}
            ${p.LastName || p.lastName || ''}
            </h5>

            <div class="row">

            <div class="col-md-4">
            <b>Gender :</b> ${p.Gender || p.gender || ''}
            </div>

            <div class="col-md-4">
            <b>DOB :</b> ${p.DOB || p.dob || ''}
            </div>

            <div class="col-md-4">
            <b>Anniversary :</b> ${p.AnniversaryDate || p.anniversaryDate || ''}
            </div>

            <div class="col-md-4">
            <b>PAN :</b> ${p.PANNo || p.panNo || ''}
            </div>

            <div class="col-md-4">
            <b>Designation :</b> ${p.PersonType || p.personType || ''}
            </div>

            <div class="col-md-4">
            <b>Remark :</b> ${p.Remark || p.remark || ''}
            </div>

            </div>

            <hr/>

            <div>
            <b class="text-info">Images</b><br/>
            ${imgs}
            </div>

            <hr/>

            <div>
            <b class="text-info">Communication</b>
            ${comm}
            </div>

            <hr/>

            <div>
            <b class="text-info">Address</b>
            ${addr}
            </div>

      <button type="button"
    class="btn btn-sm btn-primary mt-2 me-2"
    onclick="editPerson(${i})">
    Edit
    </button>

    <button type="button"
    class="btn btn-sm btn-danger mt-2"
    onclick="removePerson(${i})">
    Remove
    </button>

            </div>
            </div>
            `);

            let html = "";

            // ================= BASIC =================
            html += `
            <input type="hidden" name="Persons[${i}].Title" value="${p.Title || p.title || ''}"/>
            <input type="hidden" name="Persons[${i}].FirstName" value="${p.FirstName || p.firstName || ''}"/>
            <input type="hidden" name="Persons[${i}].MiddleName" value="${p.MiddleName || p.middleName || ''}"/>
            <input type="hidden" name="Persons[${i}].LastName" value="${p.LastName || p.lastName || ''}"/>
            <input type="hidden" name="Persons[${i}].Gender" value="${p.Gender || p.gender || ''}"/>
            <input type="hidden" name="Persons[${i}].DOB" value="${p.DOB || p.dob || ''}"/>
            <input type="hidden" name="Persons[${i}].AnniversaryDate" value="${p.AnniversaryDate || p.anniversaryDate || ''}"/>
            <input type="hidden" name="Persons[${i}].PANNo" value="${p.PANNo || p.panNo || ''}"/>
            <input type="hidden" name="Persons[${i}].PersonType" value="${p.PersonType || p.personType || ''}"/>
            <input type="hidden" name="Persons[${i}].Remark" value="${p.Remark || p.remark || ''}"/>
            `;

            // ================= IMAGES =================
               (p.Images || p.images || []).forEach((img,j)=>{

        if (typeof img === "string") { // ONLY EXISTING

            html += `
            <input type="hidden"
            name="Persons[${i}].Images[${j}]"
            value="${img}"/>
            `;
        }

    });

            // ================= COMMUNICATION =================
            (p.Communications || p.communications || []).forEach((c,j)=>{
                html += `
                <input type="hidden"
                name="Persons[${i}].Communications[${j}].Type"
                value="${c.Type || c.type || ''}"/>

                <input type="hidden"
                name="Persons[${i}].Communications[${j}].Label"
                value="${c.Label || c.label || ''}"/>

                <input type="hidden"
                name="Persons[${i}].Communications[${j}].Value"
                value="${c.Value || c.value || ''}"/>
                `;
            });

            // ================= ADDRESS =================
            (p.Addresses || p.addresses || []).forEach((a,j)=>{
                html += `
                <input type="hidden"
                name="Persons[${i}].Addresses[${j}].AddressType"
                value="${a.AddressType || a.addressType || ''}"/>

                <input type="hidden"
                name="Persons[${i}].Addresses[${j}].AddressLine"
                value="${a.AddressLine || a.addressLine || ''}"/>
                `;
            });

            $("#hiddenPersons").append(html);
        });
    }

        var editIndex = -1;

    function editPerson(i){

        editIndex = i;

        let p = personList[i];

        $("#pTitle").val(p.Title || p.title);
        $("#pFirst").val(p.FirstName || p.firstName);
        $("#pMiddle").val(p.MiddleName || p.middleName);
        $("#pLast").val(p.LastName || p.lastName);
        $("#pGender").val(p.Gender || p.gender);
        $("#pDOB").val(p.DOB || p.dob);
        $("#pAnniversary").val(p.AnniversaryDate || p.anniversaryDate);
        $("#pPAN").val(p.PANNo || p.panNo);
        $("#pType").val(p.PersonType || p.personType);
        $("#pRemark").val(p.Remark || p.remark);

        $("#personImagePreview").empty();
        personImages = p.Images || p.images || [];

               personImages.forEach(img => {

        let src = "";

        if (typeof img === "string") {
            src = img;
        }
        else if (img instanceof File) {
            src = URL.createObjectURL(img);
        }

        $("#personImagePreview").append(`
            <img src="${src}" width="80"/>
        `);
    });

        $("#commContainer").empty();

           (p.Communications || p.communications || []).forEach(c=>{

        let type = c.Type || c.type || '';
        let label = c.Label || c.label || '';
        let value = c.Value || c.value || '';

    $("#commContainer").append(`
    <div class="box">

        <i class="bi bi-x-circle text-danger remove"
           onclick="$(this).parent().remove()"></i>

        <select class="form-control mb-1">
            <option ${type=="Select"?"selected":""}>Select</option>
            <option ${type=="Mobile"?"selected":""}>Mobile</option>
            <option ${type=="Email"?"selected":""}>Email</option>
            <option ${type=="LandLine"?"selected":""}>Landline</option>
        </select>

        <input class="form-control mb-1" value="${label}"/>
        <input class="form-control" value="${value}"/>

    </div>
    `);
});

        $("#personAddressContainer").empty();

        (p.Addresses || p.addresses || []).forEach(a=>{
       $("#personAddressContainer").append(`
    <div class="box">

        <i class="bi bi-x-circle text-danger remove"
           onclick="$(this).parent().remove()"></i>

        <input class="form-control mb-1" value="${a.AddressType || a.addressType || ''}"/>
        <input class="form-control" value="${a.AddressLine || a.addressLine || ''}"/>

    </div>
    
    `);   
        });

        $("#personModal").modal("show");
    }

    function removePerson(i){
        personList.splice(i,1);
        renderPersonGrid();
    }

    function addComm(){
        $("#commContainer").append(`
        <div class="box">

            <i class="bi bi-x-circle text-danger remove"
               onclick="$(this).parent().remove()"></i>

            <select class="form-control mb-1">
                <option>Select</option>
                <option>Mobile</option>
                <option>Email</option>
                <option>Landline</option>
            </select>

            <input class="form-control mb-1" placeholder="Label"/>
            <input class="form-control" placeholder="Value"/>

        </div>`);
    }


    function addPersonAddress(){
        $("#personAddressContainer").append(`
        <div class="box">

            <i class="bi bi-x-circle text-danger remove"
               onclick="$(this).parent().remove()"></i>

            <input class="form-control mb-1" placeholder="Type"/>
            <input class="form-control" placeholder="Address"/>

        </div>
        `);
    }

    $(document).ready(function(){
        renderPersonGrid();
    });
</script>

<script>
        // IMAGE LIST
    
    var imageList = @Html.Raw(JsonSerializer.Serialize(Model.DealerImages ?? new List<string>()));

    // OPEN MODAL
    function openImageModal(){
            isMainOfficeMode = false;
        $("#multiImageInput").val("");
        $("#imageModal").modal('show');
    }

    // SAVE IMAGE
    function saveImages(){

        let files = $("#multiImageInput")[0].files;

        if(files.length === 0) return;

        // ================= MAIN OFFICE =================
        if(isMainOfficeMode){

            let file = files[0]; // only one

            newMainOfficeFile = file;
            isMainRemoved = false;

            mainOfficeImage = URL.createObjectURL(file);

            renderMainOffice();

            $("#imageModal").modal('hide');
            return; // 🔥 IMPORTANT
        }

        // ================= NORMAL DEALER IMAGES =================
        for(let i=0;i<files.length;i++){

            let file = files[i];
            dealerImages.push(file);

            let reader = new FileReader();

            reader.onload = function(e){

                $("#imageGrid").append(`
                    <div class="col-md-2 mb-2">
                        <div class="position-relative">

                            <img src="${e.target.result}"
                                 style="width:120px;height:120px;object-fit:cover" />

                            <i class="bi bi-x-circle text-danger"
                               style="position:absolute;top:5px;right:5px;cursor:pointer;">
                            </i>

                        </div>
                    </div>
                `);

            };

            reader.readAsDataURL(file);
        }

        $("#imageModal").modal('hide');
    }    // RENDER IMAGE
    function renderImages(){

        $("#imageGrid").empty();

        // EXISTING IMAGES
        imageList.forEach((img,i)=>{

            $("#imageGrid").append(`
            <div class="col-md-2 mb-2">
                <div class="position-relative">

                    <img src="${img}"
                         style="width:120px;height:120px;object-fit:cover" />

                    <i class="bi bi-x-circle text-danger"
                       style="position:absolute;top:5px;right:5px;cursor:pointer;"
                       onclick="removeImage(${i})"></i>

                </div>
            </div>
            `);

        });

    }

    // REMOVE IMAGE
    function removeImage(i){
        imageList.splice(i,1);
        renderImages();
    }

    // PAGE LOAD
    $(document).ready(function(){
        renderImages();
    });

        var dealerAddressIndex = @Model.DealerAddresses.Count;

    function addDealerAddress(){

        $("#dealerAddressContainer").append(`
        <div class="box">
            <i class="bi bi-x-circle text-danger remove" onclick="$(this).parent().remove()"></i>

            <input name="DealerAddresses[${dealerAddressIndex}].AddressType" class="form-control mb-1"/>
            <input name="DealerAddresses[${dealerAddressIndex}].AddressLine" class="form-control"/>
        </div>
        `);

        dealerAddressIndex++;
    }


    var noteIndex = @Model.DealerNotes.Count;

    function addNote(){

        if($("#notesContainer .box").length >= 30){
            alert("Max 30 Notes allowed");
            return;
        }

        $("#notesContainer").append(`

        <div class="box">

            <i class="bi bi-x-circle text-danger remove"
               onclick="$(this).parent().remove()"></i>

            <div class="row">

                <div class="col-md-4">

                    <label>Category</label>

                    <div class="d-flex">

                        <select name="DealerNotes[${noteIndex}].CategoryId"
                                class="form-control">

                            <option value="">Select Notes Category</option>
                            ${getCategoryOptions()}

                        </select>

                        <i class="bi bi-plus-circle text-primary ms-2 mt-2"
                           onclick="openCategoryModal()"
                           style="cursor:pointer"></i>

                        <i class="bi bi-arrow-clockwise text-success ms-2 mt-2"
                           onclick="refreshCategory(this)"
                           style="cursor:pointer"></i>

                    </div>

                </div>

                <div class="col-md-4">
                    <label>Note By</label>
                    <input type="text"
                           name="DealerNotes[${noteIndex}].NoteFor"
                           class="form-control"/>
                </div>

                <div class="col-md-4">
                    <label>Date</label>
                    <input type="date"
                           name="DealerNotes[${noteIndex}].NoteDate"
                           class="form-control"/>
                </div>

            </div>

            <div class="row mt-2">

                <div class="col-md-12">

                    <label>Note</label>

                    <textarea name="DealerNotes[${noteIndex}].NoteText"
                              class="form-control"></textarea>

                </div>

            </div>

        </div>

        `);

        noteIndex++;
    }
           function openCategoryModal(){
           $("#categoryModal").modal('show');
       }
       
       </script>

<div class="modal fade" id="previewImageModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-info">
                <h5>Image Preview</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <img id="previewImage"
                     class="img-fluid rounded"
                     style="max-height:400px; object-fit:contain;" />
            </div>

        </div>
    </div>
</div>
<script>
    var mainOfficeImage = '@Model.MainOfficeImage';
    var newMainOfficeFile = null;
    var isMainRemoved = false; // 🔥 IMPORTANT

        $(document).ready(function(){
        renderMainOffice(); // 🔥 IMPORTANT
    });

        function openMainOfficePopup(){
             isMainOfficeMode = true;
        $("#multiImageInput").val("");
        $("#imageModal").modal('show');
    }

        function removeMainOffice(){

        mainOfficeImage = null;
        newMainOfficeFile = null;
        isMainRemoved = true; // 🔥 mark delete

        renderMainOffice();
    }

    function renderMainOffice(){

        $("#companyPreview").empty();

        if(mainOfficeImage){

            $("#companyPreview").html(`
                <div style="position:relative;display:inline-block;">

                    <span class="badge bg-primary"
                          style="position:absolute;top:5px;left:5px;">
                        Main
                    </span>

                    <img src="${mainOfficeImage}"
                         style="width:80px;height:80px;object-fit:cover"/>

                    <i class="bi bi-x-circle text-danger"
                       style="position:absolute;top:5px;right:5px;cursor:pointer;"
                       onclick="removeMainOffice()"></i>

                </div>
            `);

        } else {

               $("#companyPreview").html(`
        <button type="button" class="btn btn-info w-100" onclick="openMainOfficePopup()">
            + Add
        </button>
    `);
        }
    }
        function showImage(img){
        $("#previewImage").attr("src", img);
        $("#previewImageModal").modal("show");
    }

        $("form").submit(function (e) {

        e.preventDefault();

        let formData = new FormData(this);

        // 👉 PERSON IMAGES
        personList.forEach((p, i) => {

                let imgs = p.Images || p.images || [];

                for (let j = 0; j < imgs.length; j++) {

                    if (imgs[j] instanceof File) {
                        formData.append(`Persons[${i}].NewImages`, imgs[j]);
                    }
                    else {
                        formData.append(`Persons[${i}].Images[${j}]`, imgs[j]);
                    }
                }
        });

    imageList.forEach((img, i) => {
        formData.append(`DealerImages[${i}]`, img);
    });

    dealerImages.forEach(file => {
        formData.append("NewDealerImages", file);
    });

        // MAIN OFFICE EXISTING
    if(mainOfficeImage && typeof mainOfficeImage === "string" && !isMainRemoved){
        formData.append("MainOfficeImagePath", mainOfficeImage);
    }

    // MAIN OFFICE NEW
    if(newMainOfficeFile){
        formData.append("MainOfficeImageFile", newMainOfficeFile);
    }

    // REMOVE
    if(isMainRemoved){
        formData.append("IsMainRemoved", true);
    }

        $.ajax({
            url: '/Dealer/EditDealer',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                 Swal.fire({
            title: "Success",
            text: "Dealer Updated Successfully",
            icon: "success",
            confirmButtonText: "OK"
        }).then(() => {

            window.location.href = '@Url.Action("Index", "Dealer")';

        });
            }
        });

    });
</script>

