@{
    var userId = Context.Session.GetString("UserId");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KCRM</title>
    <link rel="icon" type="image/jpeg" href="@Url.Content("~/content/img/kcrmlogo.jpeg")" />
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Nunito:300,400,600,700|Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css" />

    <!-- Bootstrap Icons -->
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <style>
        #main {
            margin-top: 58px;
            padding: 0px 5px;
            transition: all 0.3s;
        }

        .logo img {
            height: 50px !important;
            width: auto !important;
            max-height: none !important;
        }

    </style>

    <script>
        function setHourglass() {
            document.body.style.cursor = 'wait';
        }

        window.onload = function () {
            document.body.style.cursor = 'default';
        };
    </script>
</head>

<body onbeforeunload="setHourglass();" onunload="setHourglass();">

    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center w-100">
            <a class="logo d-flex align-items-center">
                <img src="@Url.Content("~/content/img/kcrmlogo.jpeg")" class="me-2" />
                <span>KCRM</span>
            </a>

            <i class="bi bi-list toggle-sidebar-btn m-3"></i>

            <div class="dropdown ms-auto me-4">

                <a class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                   href="#"
                   id="userDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">

                    <i class="bi bi-person-circle fs-4 me-2"></i>

                    @{
                        var userName = Context.Session.GetString("UserName");
                    }

                    <span>@(string.IsNullOrEmpty(userName) ? "User" : userName)</span>





                </a>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li>
                        <a class="dropdown-item"
                           href="@Url.Action("User", "MasterData", new { id = userId })">
                            <i class="bi bi-person"></i> View Profile
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Login")">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </header>



    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-mask"></i>
                        <span>Admin</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>

                    <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">

                        <li>
                            <a href="@Url.Action("User", "MasterData", new { id = (int?)null })">
                                <i class="bi bi-circle"></i>
                                <span>User Management</span>
                            </a>
                        </li>
                        @*    <li>
                        <a href="@Url.Action("PersonList", "MasterData")">
                            <i class="bi bi-circle"></i>
                            <span>Person Management</span>
                        </a>
                    </li> *@
                        @* <li>
                            <a href="@Url.Action("Department", "MasterData")">
                                <i class="bi bi-circle"></i>
                                <span>Department Management</span>
                            </a>
                        </li> *@
                        <li>
                            <a href="@Url.Action("Category", "MasterData")">
                                <i class="bi bi-circle"></i>
                                <span>Notes Category Management</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Payment", "MasterData")">
                                <i class="bi bi-circle"></i>
                                <span>Payment Management</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Role", "MasterData")">
                                <i class="bi bi-circle"></i>
                                <span>Role Management</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("RolePermission", "MasterData")">
                                <i class="bi bi-shield-lock"></i>
                                <span>Role Permission</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }

            <!-- Dealer Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#dealer-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-shop"></i>
                    <span>Dealer</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>

                <ul id="dealer-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Dealer")">
                            <i class="bi bi-circle"></i>
                            <span>Dealer Management</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </aside>


    <main id="main" class="main">
        @RenderBody()
    </main>


    <footer id="footer" class="footer">
        <div class="copyright">
            All Rights Reserved. © @DateTime.Now.Year Bespoke Software
        </div>
    </footer>


    <!-- JS Files -->

    



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <script src="/content/js/main.js"></script>

        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>