@model BespokeSoftware.Models.User

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<style>

    div.dataTables_filter {
        margin-bottom: 15px;
    }

    #userTable {
        margin-top: 10px;
    }

        #userTable th, #userTable td {
            border: 1px solid #ccc !important;
        }

        #userTable tbody tr:hover {
            background-color: #e6f2ff;
        }

    .form-box {
        border: 2px solid #6c757d;
        border-radius: 6px;
        padding: 15px;
        margin-top: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


</style>

@{
    var sweetAlertMessage = TempData["SweetAlertMessage"] as string;
    var sweetAlertOptions = TempData["SweetAlertOptions"] as string;
}

@if (!string.IsNullOrEmpty(sweetAlertMessage))
{

    <script>
        Swal.fire('@sweetAlertMessage','','@sweetAlertOptions');
    </script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)

    <div class="card border border-info">

        <h3 class="bg-info text-black text-center p-2 fw-bold">
            User Management
        </h3>

        <div class="card-body mt-4">

            <div class="form-box">

                <!-- ROW 1 -->

                <div class="row mb-3">

                    <div class="col-md-4">

                        <label class="fw-bold">Name :</label>

                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-md-4">

                        <label class="fw-bold">Email :</label>

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-md-4">

                        <label class="fw-bold">Mobile No :</label>

                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", maxlength = "10", id = "MobileNo" })
                        @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })

                    </div>

                </div>

                <!-- ROW 2 -->

                <div class="row">

                    <div class="col-md-3">

                        <label class="fw-bold">Department :</label>

                        @Html.DropDownListFor(m => m.DepID,
                        new SelectList(ViewBag.DepartmentList, "Value", "Text"),
                                        "Select Department",
                                        new { @class = "form-control form-select" })

                    @Html.ValidationMessageFor(m => m.DepID, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-3">

                    <label class="fw-bold">Role :</label>

                    @Html.DropDownListFor(m => m.RoleId,
                                        new SelectList(ViewBag.RoleList, "Value", "Text"),
                                        "Select Role",
                                        new { @class = "form-control form-select" })

                    @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-3">

                    <label class="fw-bold">Password :</label>

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-3">

                    <label class="fw-bold">Status :</label>

                    @Html.DropDownListFor(m=>m.IsActive,
                                        new List<SelectListItem>
                                        {
                                        new SelectListItem{Text="Active",Value="true",Selected = true},
                                        new SelectListItem{Text="Inactive",Value="false"}
                                        },
                                        new { @class = "form-control form-select" })

                </div>

            </div>

            <div class="text-center mt-4">

                <button type="submit" class="btn btn-primary px-4 fw-bold">
                    Save
                </button>

            </div>

        </div>

        <hr />

        <table id="userTable" class="table table-bordered table-hover text-center">

            <thead class="bg-info text-black">

                <tr>

                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Mobile</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model.UserList)
                    {

                        <tr>

                            <td>@item.UserID</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.MobileNo</td>
                            <td>@item.Department</td>
                            <td>@item.Role</td>
                            <td>@(item.IsActive ? "Active" : "Inactive")</td>

                            <td>

                                <a href="@Url.Action("User", "MasterData", new { id = item.UserID })"
                                   class="btn btn-info btn-sm fw-bold">

                                    <i class="bi bi-pencil-square"></i>

                                </a>
                                <a href="javascript:void(0);"
                                       onclick="DeleteUser(@item.UserID)"
                                       class="btn btn-danger btn-sm">

                                    <i class="bi bi-trash"></i>

                                </a>
                            </td>

                        </tr>

                    }

                </tbody>

            </table>

        </div>

    </div>
    <script>

        $(document).ready(function(){

        $('#userTable').DataTable({

        pageLength:5,
        lengthMenu:[5,10,20,50],
        ordering:true,
        searching:true,

        columnDefs:[
        {orderable:false,targets:6}
        ]

        });

        });
            $('#MobileNo').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });


        function DeleteUser(id)
        {
        Swal.fire({
        title: 'Are you sure?',
        text: "You want to delete this user!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Delete'
        }).then((result) => {

        if (result.isConfirmed)
        {
        window.location.href = '/MasterData/DeleteUser/' + id;
        }

        });
        }
    </script>

}

